:root {
  --purple500: #281154;
  --purple300: #270082;
  --purple600: #1b0058;
  --red600: #dc0000;
  --body: #f9f6ff;
  --max-width: 1200px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}

/* Navigation container styling  */
header{
    background-color: var(--purple300);
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px 0;
}
/* container is the class of most section : nav , main-herosection , music section , about music section , video section , gift section */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

ul{
    list-style: none;

}

a{
    text-decoration: none;
    color: white;
}

.logo{
    font-size: 32px;
    font-weight: 600;
}

nav ul{
    display: flex;
    gap: 20px;
}

nav ul li{
    border-bottom: 2px solid transparent;
    transition: 0.2s ease-in;
}

nav ul li:hover{
    border-bottom: 2px solid white;
}

/* Hero section  */
.hero-section{
    background-image: url(images/hero_image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: grid;
    color: white;
    place-items: center;
    text-align: center;
}
.hero-section .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.hero-section h1{
    font-size: 96px;
}
.hero-section h3{
    font-size: 32px;
}

/* Music Section  */
.music-section{
    padding: 50px;
    background: var(--purple500);
}
.music-section .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: white;
}
.primary-btn{
    background-color: var(--red600);
    color: white;
    padding: 10px 15px;
    border: none;
}
.ipad-iphone-img{
    margin-top: -400px;
    position: relative;
    top: 400px;
}
.about-music{
    padding-top:500px ;
    display: grid;
    place-items: center;
    gap:50px;
    text-align: center;
    margin-bottom: 50px;
}
.secondary-btn{
    background-color: var(--purple300);
    color: white;
    padding: 10px 15px;
    border: none;
}

/* Video Section styling  */
.video-section{
    background-image: url(images/video.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 800px;
    display: grid;
    place-items: center;
    color: white;
    text-align: center;
}
.video-section .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: -200px;
}

/* gift section syling  */
.gift-section{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    margin: 100px 0;
    gap: 50px;
    scroll-margin: 120px;

}
.gift-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* footer part of the body footer styling  */
.footer-upper{
    background-color: var(--purple600);
    padding: 20px;
    line-height: 2;
}
.footer-upper .container{
    display: flex;
    color: white;
    justify-content: space-between;
}
.footer-upper h4{
    /* border: 1px solid black; */
    /* padding-bottom: 10px; */
    border-bottom: 1px solid transparent;
    margin-bottom: 12px;
}
.footer-upper h4:hover{
    border-bottom: 2px solid white;
}
.footer-lower{
    background-color: var(--purple300);
    padding: 20px;
    display: flex;
    justify-content: center;
    color: white;
}

